$bodyBgColor: #ffffff;
$headerBgColor: url("../img/m-h-day.jpg");
$headerTextColor: #2c2f3c;
$hederHeadingTextColor: #2c2f3d;
$hederHeadingBgColor: #279fd2;
$headerButtonBgColor: #699900; 
$headerButtonColor: #f2f3f8; 
$sectionTextbgColor: #279fd2;
$sectionCardWrapBgColor:#21232c;
$sectionCardHeadingColor: #ffffff;
$sectionCardTextColor:#c0c3cc;
$sectionLinkColor: #c0c3cc;
$bannerBgImage:linear-gradient(to right, #65950e, #2f5dcf);
$SectionBannerHeadingColor: #2c2f39;
$SectionBannerHeadingBgColorAfter:#14a0c7;
$sectionBannerTextColor: #c0c3ce;
$footerBgColor: #21232e;

